.footer{
    width: 100vw;
    height: 4rem;
    background-color: rgb(91, 91, 167);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}